version: "3.8"
services:
  react-app:
    image: rishirathoree/react-terraform-app:latest
    ports:
      - "5173:5173"
    restart: always
  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    restart: always